
@{
    ViewBag.Title = "ConfirmedData";
}

<div class="container text-center">
    <h2>Sukces!</h2>
    <p>Twoja wizyta została umówiona</p>
    <br />
    <a href='@Url.Action("Index", "Locations")' class="btn btn-primary">Powrót do strony głównej</a>
</div>


